<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_color"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlogKulinarnyMobileApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".User.EditDataActivity"
            android:exported="false" />
        <activity
            android:name=".User.DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".User.EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".User.EditPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.ManageRecipesActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.ManageUsersActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.CategoriesActivity"
            android:exported="false" />
        <activity
            android:name="Home.HomeActivity"
            android:exported="false" />
        <activity
            android:name="Home.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RecipeDetails"
            android:exported="false" />
        <activity
            android:name=".RecipeListActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name="Home.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".User.UserActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>